<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<nav>
	    <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/guardarropas">Guardarropas</li>
        </ol>
	</nav>
	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer>
		Copyright {{anio}}
	</footer>
</body>

</html>
