<form method="POST" action="/guardarropas/{{id}}/prendas">
    <label for="nombre">Nombre</label>
    <input name="nombre" type="text">

    <label for="color">Color</label>
    <input name="color" type="text">

    <input type="submit">
</form>